@using home_manager.Helpers;
@model home_manager.Areas.BudgetManager.ViewModels.IncidentalItems_VModel;

@if (Model.Items[0].Id == -1)
{
    <tr>
        <td colspan="7" style="align-self:center; color:orangered;">There are no incidental items yet!</td>
    </tr>
} else {
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>@FormatHelper.FormatCurrency(Model.TotalAmount)</strong></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        @foreach (var item in Model.Items)
        {
            <td>
                <button type="button" id="delete-@item.Id-@item.Name" class="btn btn-outline-danger" style="border: none;" onclick="deleteRecurringItem(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg>
                    <span class="visually-hidden">Button</span>
                </button>
            </td>
            <td>@item.DateIncurred.ToShortDateString()</td> //date
            <td>@item.Name</td> //expense
            <td>@FormatHelper.FormatCurrency(item.Amount)</td> //amount
            <td>@item.Description</td> //description
            <td>@item.CategoryName</td> //category name
            <td></td> // Add new
        }
    </tr>
    <tr id="_IncidentalExpensesDynamicRow">
        <!-- dynamic row content here -->
    </tr>
}

<script>
    $(document).ready(function() {
        
    });
</script>