@using home_manager.Helpers;
@model home_manager.Areas.BudgetManager.DTOs.LedgerDTO;

@{
    decimal runningCheckingTotal = Model.PreviousCheckingEndingBalance;
    decimal runningSavingsTotal = Model.PreviousSavingsEndingBalance;
}

<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <th>@FormatHelper.FormatCurrency(Model.PreviousCheckingEndingBalance)</th>
    <td style="background-color: #e8f9ff;"></td>
    <th style="background-color: #e8f9ff;">@FormatHelper.FormatCurrency(Model.PreviousSavingsEndingBalance)</th>
</tr>
@foreach (var item in Model.Items)
{
    var rowColor = "";
    if (item.TransactionType_tstId == 5) rowColor = "background-color: #e8f9ff;";
    if (item.TransactionType_tstId == 4) rowColor = "background-color: #dbffe3;";
    <tr style='@(rowColor)'>
        @if (item.TransactionType_tstId == 1)
        {
            if (item.Id == Model.EditableItemId)
            {
                <td>
                    <button type="button" id="edit-@item.Id" class="btn btn-outline-primary" style="border: none;" onclick="saveItem(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                            <path d="M11 2H9v3h2z" />
                            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
                        </svg>
                    </button>
                </td>
            }
            else
            {
                <td>
                    <button type="button" id="edit-@item.Id" class="btn btn-outline-primary" style="border: none;" onclick="enableEditMode(@item.Id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                        </svg>
                        <span class="visually-hidden">Button</span>
                    </button>
                </td>
            }
        }
        else
        {
            <td></td>
        }
        @if (item.Name == "Incidentals")
        {
            <td><a href="javascript:void(0)" onclick="navigateToIncidentals()">@item.Name</a></td>
        }
        else
        {
            <td>@item.Name</td>
        }
        <td>@item.Description</td>
        @if (item.TransactionType_tstId == 1 && item.Id == Model.EditableItemId)
        {   <td>
                <input type="date"
                       id="newDate"
                       class="form-control"
                value="@item.Date.ToString("yyyy-MM-dd")" />
            </td>
            <td><input type="checkbox" id="newPaid" @(item.IsPaid ? "checked" : "") /></td>
        }
        else
        {
            <td>@item.Date.ToShortDateString()</td>
            <td><input type="checkbox" disabled @(item.IsPaid ? "checked" : "") /></td>
        }
        @if (item.TransactionType_tstId == 2 || item.TransactionType_tstId == 1 || item.TransactionType_tstId == 4) // if incidental or recurring
        {
            runningCheckingTotal += item.Amount;
            if (item.Id == Model.EditableItemId)
            {
                <td>
                    <div class="input-group">
                        @* <span class="input-group-text">$</span> *@
                        <input class="form-control" id="newAmount"
                               type="number"
                               min="0"
                               value="@item.Amount" />
                    </div>
                </td>
            }
            else
            {
                <td style='@(item.Amount < 0 ? "color : red;" : ""))'>@FormatHelper.FormatCurrency(item.Amount)</td>
            }
            <td>@FormatHelper.FormatCurrency(runningCheckingTotal)</td>
            <td style="background-color: #e8f9ff;"></td>
            <td style="background-color: #e8f9ff;"></td>
        }
        else if (item.TransactionType_tstId == 5 && item.Category_catId != 32) // if transfer to or from savings
        {
            runningCheckingTotal -= item.Amount;
            runningSavingsTotal += item.Amount;
            <td style='@(item.Amount * -1 < 0 ? "color : red;" : "")'>@FormatHelper.FormatCurrency((item.Amount * -1))</td>
            <td>@FormatHelper.FormatCurrency(runningCheckingTotal)</td>
            <td style='@(item.Amount < 0 ? "color : red;" : "")'>@FormatHelper.FormatCurrency(item.Amount)</td>
            <td>@FormatHelper.FormatCurrency(runningSavingsTotal)</td>
        }
        else // savings deposit
        {
            runningSavingsTotal += item.Amount;
            <td></td>
            <td></td>
            <td style='@(item.Amount < 0 ? "color : red;" : "")'>@FormatHelper.FormatCurrency(item.Amount)</td>
            <td>@FormatHelper.FormatCurrency(runningSavingsTotal)</td>
        }
    </tr>
}
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><strong>@FormatHelper.FormatCurrency(runningCheckingTotal)</strong></td>
    <td></td>
    <td><strong>@FormatHelper.FormatCurrency(runningSavingsTotal)</strong></td>
</tr>


<script>
    $(document).ready(function() {
        setDateInputRange();
        $('#monthFilter', '#yearFilter').change(setDateInputRange);
    });
</script>
